@mixin button($color) {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: $color;
  width: 250px;

  transition: background-color 0.3s linear;
}

@mixin section($padding-top, $padding-bottom, $color) {
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  background-color: $color;
}
